# Preprocess IMDB review dataset

In [1]:
import json, pprint, numpy as np, pandas as pd

def remove_tabs(x):
    return x.replace("\t", " ").replace("\n", ". ")


def preprocess_imdb(split):
    imdb_folder = "../Imdb/imdb-50k-movie-reviews-test-your-bert/"

    filename = split + ".csv"

    imdb_df = pd.read_csv(imdb_folder + filename)
    imdb_df["text"] = imdb_df["text"].apply(remove_tabs)
    return imdb_df
imdb_train_df = preprocess_imdb("train")
imdb_dev_df = preprocess_imdb("test")

# imdb_train_df.to_csv("./Imdb/train.tsv", sep= "\t", index = False)
# imdb_dev_df.to_csv("./Imdb/dev.tsv", sep= "\t", index = False)

In [2]:
imdb_train_df.head()

                                                text sentiment
0  Now, I won't deny that when I purchased this o...       neg
1  The saddest thing about this "tribute" is that...       neg
2  Last night I decided to watch the prequel or s...       neg
3  I have to admit that i liked the first half of...       neg
4  I was not impressed about this film especially...       neg

In [3]:
imdb_train_df.shape

(25000, 2)

In [4]:
imdb_dev_df.head()

                                                text sentiment
0  My daughter liked it but I was aghast, that a ...       neg
1  I... No words. No words can describe this. I w...       neg
2  this film is basically a poor take on the old ...       neg
3  This is a terrible movie, and I'm not even sur...       neg
4  First of all this movie is a piece of reality ...       pos

In [5]:
imdb_dev_df.shape

(25000, 2)

# Preprocess Amazon Reviews

In [6]:
def func(score):
    if(score>3):
        return "pos"
    else:
        return "neg"

def preprocess(split):
    folder = "../amazon-reviews/home_n_kitchen_splits/"

    filename = split + ".tsv"

    amazon_df = pd.read_csv(folder + filename, sep = "\t")
    filterd_amazon_df = amazon_df[amazon_df["Score"]!=3]

    # remove irrelevant reviews
    filterd_amazon_df = filterd_amazon_df[filterd_amazon_df['Review'].apply(lambda x: isinstance(x, str))]
    filterd_amazon_df["sentiment"] = filterd_amazon_df["Score"].apply(func)
    del filterd_amazon_df["Score"]
    
    filterd_amazon_df["Review"] = filterd_amazon_df["Review"].apply(remove_tabs)
    filterd_amazon_df.columns = ['text', 'sentiment']
    return filterd_amazon_df

amazon_train_df = preprocess("train")
amazon_dev_df = preprocess("dev")

# amazon_train_df.to_csv("amazon_home_train.tsv", sep= "\t", index = False)
# amazon_dev_df.to_csv("amazon_home_dev.tsv", sep= "\t", index = False)

In [7]:
amazon_train_df.head()

                                                text sentiment
0  These filters do not fit the canister vacuum I...       neg
1  By the time I washed the five or six pieces re...       neg
2  Exactly as advertised, perfectly fine for the ...       pos
3  I've had the DC25 All Floors for about a year....       neg
4  I bought these for the hunter green in the pic...       neg

In [8]:
amazon_train_df.shape

(77700, 2)

In [9]:
amazon_dev_df.head()

                                                text sentiment
0  I didn't read the description carefully, so I ...       neg
1  I received this set as part of the Vine Progra...       pos
3  This is my first time trying a smoothie maker....       pos
4  Save your money - these do not blend in with t...       neg
5  For the size of this steamer it has alot of cl...       pos

In [10]:
amazon_dev_df.shape

(19491, 2)